<h1>Create Player</h1>

<form>
  User Name:<br>
  <input type="text"><br>
  User Password:<br>
  <input type="password"><br>
  Confirm Password:<br>
  <input type="password">
</form>

<button>Exit</button>
<button>Create</button>