<style>
  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: black;
  }

  main {
    flex: 1 0 auto;
  }

  img {
    padding-top: 5px;
    padding-bottom: 5px;
  }
</style>

<header>
  <nav>
    <div class="nav-wrapper black">
      <a href="#" class="brand-logo black center">Spinach Shooters</a>
    </div>
  </nav>
</header>

<main>
  <!-- if the two br's aren't there, it covers the navbar -->
  <!-- the br's are there for a reason -->
  <br><br>
  <div class="container">
    <div class="row">
      <div class="col s12">
        <div class="nes-container is-rounded is-dark is-centered">
          {{!-- joke goes into here --}}
          <h1 id="joke"></h1>
        </div>
      </div>
    </div>
    <!-- USERNAME AND SHIP CHOICE -->
    <div class="row">
      <div class="col s6">
        <div class="nes-container is-dark with-title is-centered">
          <p class="title">USERNAME</p>
          <p>{{name}}</p>
        </div>
      </div>
      <div class="col s6">
        <div class="nes-container is-dark with-title is-centered">
          <p class="title">HIGH SCORE</p>
          <p>{{score}}<i class="nes-icon trophy is-large"></i></p>
        </div>
      </div>
    </div>
    <!-- SONG CHOICE AND CURRENT HIGH SCORE -->
    <div class="row">
      <div class="col s6">
        <div class="nes-container is-dark with-title is-centered">
          <p class="title">SONG CHOICE</p>
          <!-- RADIO BUTTON SONG 1 -->
          <div style="background-color:#212529; padding: 1rem 0;">
            <label>
              <input id="songone" type="radio" class="nes-radio is-dark" name="answer-dark song" checked />
              <span>Panic</span>
            </label>
            <!-- RADIO BUTTON SONG 2 -->
            <label>
              <input id="songtwo" type="radio" class="nes-radio is-dark" name="answer-dark song" />
              <span>Flow</span>
            </label>
            <!-- RADIO BUTTON SONG 3 -->
            <label>
              <input id="songthree" type="radio" class="nes-radio is-dark" name="answer-dark song" />
              <span>Drunken</span>
            </label>
          </div>
        </div>
      </div>
      <div class="col s6">
        <div class="nes-container is-dark with-title is-centered">
          <p class="title">SHIP CHOICE</p>
          <!-- RADIO BUTTON SHIP 1 -->
          <div style="background-color:#212529; padding: 1rem 0;">
            <label>
              <input id="shipone" type="radio" class="nes-radio is-dark" name="answer-dark ship" checked />
              <span>Ship 1 <img src="./assets/img/player-blue-1.png" alt="Blue Space Ship" height="35px"></span>
            </label><br>
            <!-- RADIO BUTTON SHIP 2 -->
            <label>
              <input id="shiptwo" type="radio" class="nes-radio is-dark" name="answer-dark ship" />
              <span>Ship 2 <img src="./assets/img/player-green-2.png" alt="Green Space Ship" height="35px"></span>
            </label><br>
            <!-- RADIO BUTTON SHIP 3 -->
            <label>
              <input id="shipthree" type="radio" class="nes-radio is-dark" name="answer-dark ship" />
              <span>Ship 3 <img src="./assets/img/player-red-3.png" alt="Red Space Ship" height="35px"></span>
            </label>
          </div>
        </div>
      </div>
    </div>
    <!-- GAME MODE AND DIFFICULTY LEVEL -->
    <div class="row">
      <div class="col s6">
        <div class="nes-container is-dark with-title is-centered">
          <p class="title">GAME MODE</p>
          <!-- RADIO BUTTON GAME MODE JOE -->
          <div style="background-color:#212529; padding: 1rem 0;">
            <label>
              <input id="modejoe" type="radio" class="nes-radio is-dark" name="answer-dark mode" checked />
              <span>Joe'pocolypse <img src="./assets/img/joe.png" alt="Joe" height="50px"></insert></span>
            </label>
            <!-- RADIO BUTTON GAME MODE DENIS -->
            <label>
              <input id="modedenis" type="radio" class="nes-radio is-dark" name="answer-dark mode" />
              <span>Menacing Denis <img src="./assets/img/denis.png" alt="Denis" height="50px"></span>
            </label>
            <!-- RADIO BUTTON GAME MODE CLINT -->
            <label>
              <input id="modeclint" type="radio" class="nes-radio is-dark" name="answer-dark mode" />
              <span>Clint'astrophy <img src="./assets/img/clint.png" alt="Clint" height="50px"></span>
            </label>
          </div>
        </div>
      </div>
      <div class="col s6">
        <div class="nes-container is-dark with-title is-centered">
          <p class="title">DIFFICULTY LEVEL</p>
          <!-- RADIO BUTTON DIFFICULTY EASY -->
          <div style="background-color:#212529; padding: 1rem 0;">
            <label>
              <input id="leveleasy" type="radio" class="nes-radio is-dark" name="answer-dark level" checked />
              <span>EASY</insert></span>
            </label>
            <!-- RADIO BUTTON DIFFICULTY MEDIUM -->
            <label>
              <input id="levelnormal" type="radio" class="nes-radio is-dark" name="answer-dark level" />
              <span>NORMAL</span>
            </label>
            <!-- RADIO BUTTON DIFFICULTY HIGH -->
            <label>
              <input id="levelhardcore" type="radio" class="nes-radio is-dark" name="answer-dark level" />
              <span>HARD CORE</span>
            </label>
          </div>
        </div>
      </div>
    </div>
    <!-- BUTTONS TO PLAY GAME OR LOG OUT -->
    <div class="row">
      <div class="col s6">
        <button id="launchgame" type="button" class="nes-btn">LAUNCH</button>
      </div>
    </div>
    <div class="row">
      <div class="col s6">
        <button id="logout" type="button" class="nes-btn">Log Out</button>
      </div>
    </div>
  </div>
</main>

<footer class="page-footer black">
  <div class="footer-copyright">
    <div class="container center">
      © 2020 Created by Austin, Nick, Jack, and Jenny
    </div>
  </div>
</footer>