<style>
        body {
            display: flex;
            min-height: 100vh;
            flex-direction: column;
            background-color: black;
        }

        main {
            flex: 1 0 auto;
        }
    </style>

    <header>
        <nav>
            <div class="nav-wrapper black">
                <a href="#" class="brand-logo black center">Code Shooters</a>
            </div>
        </nav>
    </header>

    <main>
        <!-- if the two br's aren't there, it covers the navbar -->
        <!-- the br's are there for a reason -->
        <br><br>
        <div class="container">
            <!-- USERNAME AND SHIP CHOICE -->
            <div class="row">
                <div class="col s6">
                    <div class="nes-container is-dark with-title">
                        <p class="title">USERNAME</p>
                        <p>USE HANDLEBARS TO ENTER THEIR USERNAME HERE</p>
                    </div>
                </div>
                <div class="col s6">
                    <div class="nes-container is-dark with-title">
                        <p class="title">CURRENT HIGH SCORE</p>
                        <p>HANDLEBARS TO SHOW HIGH SCORE</p>
                    </div>
                </div>
            </div>
            <!-- SONG CHOICE AND CURRENT HIGH SCORE -->
            <div class="row">
                <div class="col s6">
                    <div class="nes-container is-dark with-title">
                        <p class="title">SONG CHOICE</p>
                        <p>CHECKBOX? DROPDOWN?</p>
                    </div>
                </div>
                <div class="col s6">
                    <div class="nes-container is-dark with-title">
                        <p class="title">SHIP CHOICE</p>
                        <p>SHOW IMAGES IN HERE</p>
                    </div>
                </div>
            </div>
            <!-- GAME MODE AND DIFFICULTY LEVEL -->
            <div class="row">
                <div class="col s6">
                    <div class="nes-container is-dark with-title">
                        <p class="title">GAME MODE</p>
                        <p>CHECKBOX? DROPDOWN?</p>
                    </div>
                </div>
                <div class="col s6">
                    <div class="nes-container is-dark with-title">
                        <p class="title">DIFFICULTY LEVEL</p>
                        <p>EASY ~ MEDIUM ~ HARD</p>
                    </div>
                </div>
            </div>
            <!-- BUTTONS TO PLAY GAME OR LOG OUT -->
            <div class="row">
                <div class="col s6">
                    <button type="button" class="nes-btn">PLAY GAME</button>
                </div>
            </div>
            <div class="row">
                <div class="col s6">
                    <button type="button" class="nes-btn">Log Out</button>
                </div>
            </div>
        </div>
    </main>

    <footer class="page-footer black">
        <div class="footer-copyright">
            <div class="container center">
                © 2020 Created by Austin, Nick, Jack, and Jenny
            </div>
        </div>
    </footer>